<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Single Product</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <style>
        main {
            height: 100%;
            display: grid;
            grid-template-areas:
                "itemFields segmentation"
                "itemFields segmentation"
                "actions segmentation";
            grid-template-columns: 50% 50%;
            overflow: hidden;
        }

        .itemFields {
            grid-area: itemFields;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            overflow: auto;
        }

        .itemField {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-items: inherit;
            margin: 1rem;
        }

        .segmentation {
            grid-area: segmentation;
            height: 100%;
        }

        .segmentationContainer {
            display: flex;
            flex-direction: column;
        }

        .segmentationContainer>form {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
        }

        .segmentationRow {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 1rem;
        }


        .segmentationInput>* {
            width: 50%;
        }

        .actions {
            grid-area: actions;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        select {
            padding: 0;
            margin: 0;
        }
    </style>
    <script th:inline="javascript">
        $(document).ready(function () {
            let categoriesObject = /*[[${sessionModel.categoryModel}]]*/;
            let session = /*[[${session}]]*/;
            let segmentation = /*[[${sessionModel.categoryModel}]]*/;

            console.log(segmentation);


            // if (categoriesObject.selectedCat > 1) {
            //     $('#cat option[value=' + segmentation.selectedCat + ']').attr('selected', true);
            //     $('#cat').attr('disabled', true);
            // }
            // if (categoriesObject.selectedSub > 1) {
            //     $('#sub option[value=' + segmentation.selectedSub + ']').attr('selected', true);
            //     $('#sub').attr('disabled', true);

            // }



            $('#type option[value=' + segmentation.selectedType + ']').attr('selected', true);

            $('#cat').on('change', function () {
                let selectedVal = this.value;
                console.log(selectedVal);


                $('<input />').attr('type', 'hidden')
                    .attr('name', "action")
                    .attr('value', 'cat').appendTo(document.forms['filter']);
                $('<input />').attr('type', 'hidden')
                    .attr('name', "actionValue")
                    .attr('value', this.value).appendTo(document.forms['filter']);

                document.forms['filter'].submit();
            });
            $('#sub').on('change', function () {
                let selectedVal = this.value;
                console.log(selectedVal)
                let isDisable = (selectedVal == 0) ? false : true;
                $('#cat').attr('disabled', isDisable);


                $('<input />').attr('type', 'hidden')
                    .attr('name', "action")
                    .attr('value', 'sub').appendTo(document.forms['filter']);
                $('<input />').attr('type', 'hidden')
                    .attr('name', "actionValue")
                    .attr('value', this.value).appendTo(document.forms['filter']);

                document.forms['filter'].submit();
            });
            $('#type').on('change', function () {
                let selectedVal = this.value;
                console.log(selectedVal)
                let isDisable = (selectedVal == 0) ? false : true;
                $('<input />').attr('type', 'hidden')
                    .attr('name', "action")
                    .attr('value', 'type').appendTo(document.forms['filter']);
                $('<input />').attr('type', 'hidden')
                    .attr('name', "actionValue")
                    .attr('value', this.value).appendTo(document.forms['filter']);
                document.forms['filter'].submit();
            });

            $('#updateProduct').on('click', function () {
                $('<input />').attr('type', 'hidden')
                    .attr('name', "action")
                    .attr('value', 'updateProduct').appendTo(document.forms['productUpdate']);
            });
            $('#deleteProduct').on('click', function () {
                $('<input />').attr('type', 'hidden')
                    .attr('name', "action")
                    .attr('value', 'deleteProduct').appendTo(document.forms['filter']);
            });


        });


    </script>
</head>

<body th:with="test=('/webshop/product'),abc=${currentProduct}">
    <!-- <p th:text="$"></p> -->
    <div th:replace="fragments/header.html :: header(title=${abc.name},links=${linkMap})"></div>
    <!-- <p th:text="${sessionModel.categoryModel}"></p> -->
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <main>
        <form name="productUpdate" th:action="@{/webshop/admin/products/product/__${currentProduct.id}__}"
            method="POST">

            <section class="itemFields">
                <div class="itemField">
                    <span>Id</span>
                    <input th:field="${currentProduct.id}" disabled />
                </div>
                <div class="itemField">
                    <span>Name</span>
                    <input th:field="${currentProduct.name}" />
                </div>
                <div class="itemField">
                    <span>Price</span>
                    <input th:field="${currentProduct.basePrice}" />
                </div>
                <div class="itemField">
                    <span>Description</span>
                    <textarea th:field="${currentProduct.description}">Empty</textarea>
                </div>
                <div class="itemField">
                    <span>Vat Percentage</span>
                    <input th:field="${currentProduct.vatPercentage}" />
                </div>
                <div class="itemField">
                    <span>Full Picture URL</span>
                    <input th:field="${currentProduct.fullImageUrl}" />
                </div>
                <div class="itemField">
                    <span>Thumbnail URL</span>
                    <input th:field="${currentProduct.thumbnailUrl}" />
                </div>
            </section>
            <section class="actions">

                <input id="updateProduct" type="submit" value="Update Product">
                <input id="deleteProduct" type="submit" value="Delete Product" disabled>

            </section>
        </form>
        <section class="segmentation" th:object="${sessionModel.categoryModel}">

            <div class="segmentationContainer">
                <!-- <p th:text="*{categories}"></p>
                    <p th:text="*{subCategories}"></p>
                    <p th:text="*{types}"></p> -->
                <!-- <p th:text="*{selectedCat}"></p> -->
                <form name="filter" method="POST"
                    th:action="@{/webshop/admin/products/product/__${currentProduct.id}__}">
                    <div class="segmentationRow">
                        <span>Category</span>
                        <select id="cat" th:field="*{selectedCat}">
                            <option th:each="category : *{categories}" th:text="${category.name}"
                                th:value="${category.id}">
                            </option>
                        </select>
                    </div>
                    <div class="segmentationRow">
                        <span>SubCategory</span>
                        <select id="sub" th:field="*{selectedSub}">
                            <option value="0">All</option>

                            <option th:each="subCategory : *{subCategories}" th:text="${subCategory.name}"
                                th:value="${subCategory.id}">
                                Subcategories</option>
                        </select>
                    </div>
                    <div class="segmentationRow">
                        <span>Type</span>
                        <select id="type" th:field="*{selectedType}">
                            <option value="0">All</option>

                            <option th:each="type : *{types}" th:text="${type.name}" th:value="${type.id}"></option>
                            Types</option>
                        </select>
                    </div>
                </form>
                <form method="POST" th:action="@{/webshop/admin/products/product/__${currentProduct.id}__}">
                    <div class="segmentationRow">
                        <span th:if="*{selectedCat==0}">Custom Category</span>
                        <span th:if="*{selectedSub==0 && selectedCat!=0}">Custom Subcategory</span>
                        <span th:if="*{selectedType==0 && selectedCat!=0 && selectedSub!=0}">Custom Type</span>
                        <input th:unless="*{selectedType!=0 && selectedCat!=0 && selectedSub!=0}" type="text"
                            name="newSegmentation" th:value="${newSegmentation}" />
                        <input th:if="*{selectedCat==0}" type="submit" value="Add New Category" />
                        <input th:if="*{selectedSub==0 && selectedCat!=0}" type="submit" value="Add New Sub Category" />
                        <input th:if="*{selectedType==0 && selectedCat!=0 && selectedSub!=0}" type="submit"
                            value="Add New Type" />
                    </div>
                    <!-- <input type="submit" value="Delete Selected Category"> -->
                </form>
                <form method="POST" th:action="@{/webshop/admin/products/product/__${currentProduct.id}__}">
                    <div class="segmentationRow">
                        <input type="submit" th:disabled="*{selectedType==0}" value="Set Product Type" />

                    </div>
                </form>


            </div>
        </section>



    </main>


    <!-- <p th:if="${test}" th:text="${test}">sadasd</p>
            <p th:unless="${test}">Empty</p> -->
    <footer>
        <a th:href="@{/webshop/admin/products(page=${session.sessionModel.productPage},return=true)}">Back</a>


    </footer>
</body>

</html>