@charset "ISO-8859-1";
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 80vw;
  margin: auto;
}
header {
  height: 11%;
}
.navigationLinks {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}
.navigationLinks > a {
  border-bottom: 1px darkcyan solid;
  border-top: 1px darkcyan solid;
  padding: 0.5rem 1rem;
}
.navigationLinks > a:hover {
  background-color: rgb(219, 226, 243);
}
main {
  padding: 1rem 0;
  background-image: linear-gradient(white, rgb(239, 255, 250));
  height: 80%;
}
footer {
  height: 9%;
}
.container {
  display: grid;
  grid-template-rows: 5vh 80vh 10vh;
  margin: auto;
  width: 80vw;
}

main {
  border-bottom: 1px solid darkcyan;
  border-top: 1px solid darkcyan;
  box-sizing: border-box;
}

header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
footer > a {
  margin: 0 1rem;
}

.navigationLinks {
}

.filterOptions {
  padding: 1rem;
  border-bottom: 1px solid darkcyan;
  display: flex;
  justify-content: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, auto); */
}

.productItem {
  width: 10vw;
  border-radius: 10px;
  padding: 2rem;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: royalblue;
}
