<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}">
    <style>
        main {
            padding: 1rem;

        }

        .buttons {
            flex-direction: row;
        }

        .buttons>* {
            margin: 0 1rem 0 0;
        }

        p {
            color: red;
            border: red 1px solid;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/header.html :: header(title='Login',links=${links})"></div>
    <main>
        <form method="POST" th:action="@{/webshop/processLogin}">
            <p th:if="${param.error}">Invalid credentials</p>
            <div class="row">
                <label for="">Email</label>

                <input name="username" type="text" placeholder="Email" required="true" />
            </div>

            <div class="row">
                <label for="">Password</label>
                <input name="password" type="password" placeholder="Password" required="true" />
            </div>
            <div class="row buttons">
                <input type="submit" value="Log in" />
                <a th:href="@{/webshop/register}">Register</a>
            </div>


        </form>



    </main>
    <footer></footer>
</body>

</html>