<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/resources/css/base.css}">
</head>

<body>
    <div th:replace="fragments/header.html :: header(title='Register',links=${linkMap})"></div>
    <main>
        <form>
            <div class="row">
                <input type="text" />
            </div>

            <div class="row">
                <label for="">Email</label>
                <input type="text" />
            </div>
            <div class="row">
                <input type="password" />
            </div>

        </form>
    </main>
    <footer></footer>
</body>

</html>